{% load markup %}
{% load static %}

{% get_static_prefix as STATIC_PREFIX %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Résumé for {{ basic.name }}</title>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}style.css" />
</head>
<body>
    <div id="page-wrap">

    <div id="contact-info" class="vcard">
        <h1>{{ basic.name }}</h1>
        {% if basic.email %}
            <p>Email: <a href="mailto:{{ basic.email }}">{{ basic.email }}</a></p>
        {% endif %}
        {% if basic.phone %}
            <p>Phone: {{ basic.phone }}</p>
        {% endif %}
        <p>
    </div>

    <div id="objective">
        <p>{{ basic.objective }}</p>
    </div>

    <dl>
        {% if degrees %}
            <dd class="clear"></dd>
            <dt>Education</dt>
            {% for degree in degrees %}
                <dd>
                    <h2>{{ degree.degree }}</h2>
                    <p><strong>From:</strong> {{ degree.school }}</p>
                    <p><strong>Graduation Date:</strong> {{ degree.graddate }}</p>
                </dd>
            {% endfor %}
            <dd class="clear"></dd>
        {% endif %}

        {% if jobs %}
            <dd class="clear"></dd>
            <dt>Employment History</dt>
            {% for job in jobs %}
                <dd>
                    <h2>{{ job.company }}</h2>
                    <p><strong>Location:</strong> {{ job.location }}</p>
                    <p><strong>Position:</strong> {{ job.position }}</p>
                    {% if job.dates %}
                        <p><strong>Dates:</strong> {{ job.dates|join:", " }}</p>
                    {% endif %}
                    <p> {{ job.description|markdown }} </p>
                </dd>
                <dd class="clear"></dd>
            {% endfor %}
        {% endif %}

        {% if projects %}
            <dd class="clear"></dd>
            <dt>Independent Projects</dt>
            {% for project in projects %}
                <dd>
                    <h2>{{ project.name }}</h2>
                    {% if project.dates %}
                        <p><strong>Dates:</strong> {{ project.dates|join:", " }}</p>
                    {% endif %}
                    <p>{{ project.description|markdown }}</p>
                    {% if project.link %}
						<p><a href="{{ project.link}}">Project Site</a></p>
                    {% endif %}
                </dd>
                <dd class="clear"></dd>
            {% endfor %}
        {% endif %}

        {% if skills %}
            <dd class="clear"></dd>
            <dt>Skills</dt>
            {% for skill in skills %}
                <dd>
                    <h2>{{ skill.title }}</h2>
                    <p>{{ skill.description|markdown }}</p>
                </dd>
                <dd class="clear"></dd>
            {% endfor %}
        {% endif %}

        {% if extras %}
            <dd class="clear"></dd>
            <dt>Extracurricular Activities</dt>
            {% for extra in extras %}
                <dd>
                    <h2>{{ extra.description }}</h2>
                    {% if extra.dates %}
                        <p><strong>Dates:</strong> {{ extra.dates|join:", " }}</p>
                    {% endif %}
                </dd>
            {% endfor %}
            <dd class="clear"></dd>
        {% endif %}
    </dl>
    </div>
</body>

